# python cache
__pycache__/
*/__pycache__/
# log files
*.log
logs/tb_logs/*
logs
dump/*
# vscode cache
.vscode/
# jupyter files
*.ipynb

# ScanNet
data/scannet/index
data/scannet/train
data/scannet/test

# MegaDepth
data/megadepth/index
data/megadepth/train
data/megadepth/test
